Pandas :

In [ ]:
import pandas as pd

dt = {"Name":['Ritu','Taniya','abhishek','tanmay','mayank'],
     "Branch":['it','cse','it','ece','cse'],
     "Class":[2,3,4,1,2], 
     "City":['jaipur','agra','vridavan','mathura','gokul']}

df = pd.DataFrame(dt)
df

In [ ]:
df = pd.read_csv('Used_Bikes.csv')
df
# If  file is nt present in folder then pass path

In [ ]:
df.head() # top 5 records are shown

In [ ]:
df.head(10) # pass the number of lines to access in head() function

In [ ]:
df.tail() # bottom 5 records

In [ ]:
df.tail(10) # # pass the number of lines to access in tail() function

<h3>DATA FILTERING :-</h3>

In [ ]:
df['brand'].nunique() # Returns number of unique items

In [ ]:
df['brand'].unique() # returns list of unique items

In [ ]:
df['brand'].value_counts() # Counts the unique classes

In [ ]:
bullet = df[df['brand'] == 'Royal Enfield']
bullet

In [ ]:
bullet.head()

In [ ]:
bullet.shape

In [ ]:
bullet[bullet['age']<=2]

In [ ]:
bullet = df[(df['brand']=="Royal Enfield") & (df['age']<=2) & (df['owner']=="First Owner")]

In [ ]:
bullet.head()

In [ ]:
bullet.shape

In [ ]:
bullet['city'].nunique()

In [ ]:
bullet['city'].unique()

In [ ]:
bullet['city'].value_counts()

In [ ]:
jp = df[(df['city']=='Jaipur')&(df['age']<=2)&(df['owner']=='First Owner')]

In [ ]:
jp.shape

In [ ]:
df['brand'].unique()

In [ ]:
bike = df[(df['brand']=='KTM') | (df['brand']=='Jawa')]
bike

In [ ]:
bike['brand'].value_counts()

In [ ]:
bike['city'].value_counts().head(20)

In [ ]:
bike[bike['city']=='Jaipur']

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
bullet=df[df['brand']=='Royal Enfield']

In [ ]:
bullet.shape

In [ ]:
bullet.sort_values(by='price').head(10)

In [ ]:
bullet.sort_values(by='price',ascending=False).head(10) # Descending order

In [ ]:
df.brand.value_counts()

In [ ]:
ya = df[df['brand']=='TVS']
ya

In [ ]:
ya.sort_values(by='price').head(10)

In [ ]:
jp_bullet = bullet[bullet['city'] == "Jaipur"]
jp_bullet

In [ ]:
jp_bullet.to_csv('Jaipur Bullet.csv',index=False)

In [ ]:
jp_bullet[['bike_name','price','age']]

Add and delete column

In [ ]:
# jp_bullet.drop('owner',axis='columns')
jp_bullet.drop('owner',axis=1)

# axis = 1 --> column
# axis = 0 --> rows

In [ ]:
jp_bullet

In [ ]:
# Owner , city , brand

jp_bullet.drop(['owner','city','brand'],axis=1,inplace=True)

In [ ]:
jp_bullet

In [ ]:
df

In [ ]:
# Filering of the data
# Read an excel file

In [ ]:
df = pd.read_excel('Book1.xlsx')
df